body{
    background-image: url(../src/assets/ChatGPT\ Image\ May\ 26\,\ 2026\,\ 02_01_16\ PM.png);
    background-size: 55vw;
    background-position: 250px,220px;
}
.main_page_form{
    background-color: aliceblue;
    width: 400px;
    border-radius: 20px;
    border: 3px solid black;
    position: absolute;
    top: 20vw;
    left: 40vw;
    
}
.list{
    list-style-type: none;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}